<!-- navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <a class="navbar-brand" href="#">Github-Search-App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Repositories</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Github
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Other Projects</a>
                    <a class="dropdown-item" href="#">Another action</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<form class="search-form form-inline my-5 my-lg-0">
    <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
</form> 

<!-- user input section -->

<div *ngIf="profile">
    <div class="panel panel-default">
        <div class="panel-heading">{{profile.name}}<small>{{profile.login}}</small>
            <span *ngIf="profile.company">, works at {{profile.company}}</span>
            {{profile.location}}
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="profile image">
                </div>
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                        <li class="list-group-item" *ngIf="profile.hireable">Available for hire</li>
                        <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}"
                                target="_blank">{{profile.blog}}</a></li>
                        <li class="list-group-item" *ngIf="profile.email"><a
                                href="emailto:{{profile.email}}">{{profile.email}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                            <span class="label label-default">{{profile.followers}} followers</span>
                            <span class="label label-default">following {{profile.following}}</span>
                            <span class="label label-default">{{profile.public_gists}} Public gists</span>
                            <span class="label label-default">{{profile.public_repos}} Public Repos</span>
                        </p>
                        <p>
                            <a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile
                                on github</a>
                        </p>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Repositories</h3>
                            </div>
                            <div class="panel-body" *ngFor="let repo of repositories">
                                <p class="clearfix">
                                    {{repo.name}} <a href="{{repo.html_url}}" target="_blank"
                                        class="btn btn-sm btn-warning pull-right">View this project on github</a>
                                </p>
                                <p>{{repo.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>